torch>=0.4.1 # for out of date CUDA versions, go to https://pytorch.org/ to install torch
torchvision
numpy
scikit-image
matplotlib
cloud-volume
h5py
moviepy
neuroglancer
visdom
pathos
pyshorteners
argcomplete
pandas
opencv-python
