urllib3==1.25.11
torch>=1.6.0
torchvision
torchfields
numpy>=1.18.0
scikit-image
matplotlib
cloud-volume>=3.0
h5py
visdom
pathos
pyshorteners
argcomplete
pandas
opencv-python-headless
pyyaml
task-queue~=1.0
moviepy==0.2.3.5
imageio==2.4.1
kimimaro
simplejson
-e git+https://github.com/seung-lab/artificery.git@nkem-config-device#egg=artificery
-e git+https://github.com/seung-lab/scalenet.git#egg=scalenet